@import url("../css/reset.css");
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400&display=swap');
:root {
    --verde: #54E6AF;
    --branco: #fff;
    --cinza: #C2CBE5;
    --azul-escuro: #2C344B;
    --fundo-azul-escuro: #121725;
    --vermelho: #FB3E3E;
}

body {
    font-family: 'Chivo', sans-serif;
    overflow-x: hidden;
}

.fundo {
    width: 147.5%;
    filter: drop-shadow(0 0 0 var(--verde)) brightness(15%);
    position: absolute;
}

.fundo-desktop {
    display: none;
}

header {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 1rem;
    transform: translate(-50%, -50%);
    top: 5.5rem; 
    left: 50%; 
}

.container {
    position: absolute;
    bottom: 30%;
    padding-inline: 2rem;
}

.container-title {
    font-size: 1.625rem;
    text-transform: uppercase;
    line-height: 2.375rem;
    text-align: center;
    color: var(--verde);
}

.container-title span {
    color: var(--branco);
}

.container-text {
    color: var(--cinza);
    font-size: 0.9375rem;
    text-align: center;
    line-height: 1.5625rem;
    padding-top: 1rem;
}

.podcast-plataform-list {
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding-top: 2.25rem;
}

.container-request {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto;
    padding-top: 3rem;
    gap: 1rem;
}

#email {
    padding: 1.2rem;
    border-radius: 1.75rem;
    background: var(--azul-escuro);
    border: none;
}

#email::placeholder {
    color: var(--cinza);
    padding-left: 1rem;
}

#request {
    padding: .8rem;
    border-radius: 1.75rem;
    border: none;
    background: var(--verde);
    font-weight: bolder;
}

.elements-styling {
    display: none;
}

.error-span {
    color: var(--vermelho);
    font-size: 0.75rem;
    padding-left: 2rem;
    display: none;
}

@media screen and (min-width: 762px) {
    body {
        background: var(--fundo-azul-escuro);
    }

    .img-box {
        width: 60%;
        height: 60%;
        position: absolute;
        display: inline-block;
        right: -5rem;
    }

    .fundo {
        width: 85%;
        filter: brightness(100%);
    }

    .fundo-desktop {
        display: none;
    }

    header {
        left: 7rem;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 85%;
        height: 100%;
        background: var(--verde);
        opacity: 0.5;
        z-index: 1;
    }

    .container {
        background: var(--fundo-azul-escuro);
        z-index: 5;
        width: 80%;
        bottom: 40%;
        padding-top: 5rem;
    }

    .container-title {
        font-size: 3rem;
        text-align: start;
        font-weight: 300;
        line-height: 3.5rem
    }

    .container-position-elements {
        display: flex;
        flex-direction: column-reverse;
    }

    .container-request {
        position: relative;
        display: inline-block;
        justify-content: center;
    }

    .input-email {
        width: 80%;
        padding: 2rem;
    }

    .request-btn {
        position: absolute;
        right: 3.7rem;
        padding: .6rem;
        top: 3.4rem;
    }

    .elements-styling {
        position: absolute;
        bottom: 0;
        left: 2rem;
        display: block;
    }
}

@media screen and (min-width: 1024px) {
    .request-btn {
        right: 5.8rem;
    }
}

@media screen and (min-width: 1200px) {

    .img-box {
        margin-top: 2rem;
    }
    .fundo {
        display: none;
    }

    .logo-desktop {
        width: 90%;
    }
    
    .overlay {
        width: 100%;
        height: 140%;
    }

    .container {
        width: 60%;
        bottom: 10%;
    }

    .elements-styling {
        left: 80%;
        bottom: 3%;
    } 
}