@import url("../css/reset.css");
@import url('https://fonts.googleapis.com/css2?family=Chivo&display=swap');

body {
    font-family: 'Chivo', sans-serif;
}

.fundo {
    width: 100%;
    filter: opacity(.5) drop-shadow(0 0 0 #54E6AF);
    opacity: .4;
}